<div class="sharing">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
        <a class="addthis_button_hackernews"></a>
        {% if site.twitter_tweet_button %}
        <a class="addthis_button_twitter"></a>
        {% endif %}
        <a class="addthis_button_email"></a>
        {% if site.facebook_like %}
        <a class="addthis_button_facebook"></a>
        {% endif %}
        <a class="addthis_button_linkedin"></a>
        {% if site.google_plus_one %}
        <a class="addthis_button_google_plusone_share"></a>
        {% endif %}
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51aab4ac106425ba"></script>
    <!-- AddThis Button END -->
</div>
